body{
    background-color: rgb(40, 94, 45);
}

h1{
    text-align: center;
    font-size: 80px;
    color: white;
    border: solid 3px;
    background-color: rgb(84, 194, 108);
}

p{
    color: white;
    font-size:20px;
    text-align: center;
    border: solid 3px;
    background-color: rgb(84, 194, 108);
}
img{
  width: 500px;
  float: left;  
  margin: 10px;
  border-radius: 30px;
  border: solid 3px;
  color: white
}